p, li {
  font-size: 30px;    
  line-height: 2;
  letter-spacing: 1px;
  margin: 20px;
}

.page {
  background-color: green;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.page-title {
  font-size: 70px;
  text-align: center;
  padding: 8px 19px;
  margin: 2em 0;
  border-top: solid 5px white;
  border-bottom: solid 5px white;
}

.page-item {
  font-size: 50px;
  letter-spacing: 1px;
}
