h1 {
  font-size: 70px;
  text-align: center;
  padding: 8px 19px;
  margin: 2em 0;
  border-top: solid 5px white;
  border-bottom: solid 5px white;
}

h2 {
  font-size: 50px;
  letter-spacing: 1px;
}

p, li {
  font-size: 30px;    
  line-height: 2;
  letter-spacing: 1px;
  margin: 20px;
}
